* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #0a2a43;
  font-family: 'Comic Neue', cursive;
}

.portada{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.portada:before{
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, , transparent);
  z-index:10000;
}

.portada:after{
  content: '';
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;

}

.portada img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;

}

.text {
  position: relative;
  color: #fff;
  font-size: 3em;
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: center;  
  justify-content: center; 
  height: 100vh; 
  text-align: center; 
  z-index: 2;
}

#nave{
  z-index: 3;
}




